<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neural Style Transfer</title>
</head>
<body>
    <h1>Neural Style Transfer</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="content_image">Choose content image:</label>
        <input type="file" id="content_image" name="content_image"><br><br>
        <label for="style_image">Choose style image:</label>
        <input type="file" id="style_image" name="style_image"><br><br>
        <input type="submit" value="Upload Image">
    </form>
</body>
</html>
